@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: aliceblue;

}

.nav {
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;

}

.icon {
    margin-left: 20px;

}

.icon i {
    font-size: 25px;
    color: white;

}

.image {
    margin-left: 30px;
}

.search {
    margin-left: 610px
}

.search input {
    height: 40px;
    width: 500px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    opacity: 0.5;
    border-radius: 30px;
    padding-left: 20px;
}

.search input::placeholder {
    color: white;

}

.mic {
    margin-left: 20px;
}

.mic i {
    color: white;
    font-size: 25px;

}

.create {
    margin-left: 30px;
    margin-right: 10px;
}

.create i {
    color: white;
    font-size: 25px;
}

.notification {
    margin-left: 20px;
    margin-right: 10px;
}

.notification i {
    color: white;
    font-size: 25px;
}

.profile {
    margin-left: 20px;

}

.profile i {
    color: white;
    font-size: 25px;
}

.slidebar {
    height: 110vh;
    width: 200px;
    background-color: black;

}

.home i {
    color: white;
    size: 25px;
    margin-left: 20px;

}

.home a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.quickflicks {
    margin-top: 20px;
}

.quickflicks i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.quickflicks a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.subscription {
    margin-top: 20px;
}

.subscription i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.subscription a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.line {
    height: 1px;
    width: 200px;
    background-color: white;
    margin-top: 10px;
    opacity: o.5;
}

.you {
    margin-top: 20px;
}

.you i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.you a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

.account {
    margin-top: 20px;
}

.account i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.account a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.video {
    margin-top: 20px;
}

.video i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.video a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.likes {
    margin-top: 20px;
}

.likes i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.likes a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.history {
    margin-top: 20px;
}

.history i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.history a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.security {
    margin-top: 20px;
}

.security i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.security a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.download {
    margin-top: 20px;
}

.download i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.download a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.line {
    height: 1px;
    width: 200px;
    background-color: white;
    margin-top: 10px;
    opacity: o.5;
}

.explore {
    margin-top: 20px;
}

.explore i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.explore a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

.trending {
    margin-top: 20px;
}

.trending i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.trending a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.gaming {
    margin-top: 20px;
}

.gaming i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.gaming a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.sports {
    margin-top: 20px;
}

.sports i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.sports a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.news {
    margin-top: 20px;
}

.news i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.news a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.courses {
    margin-top: 20px;
}

.courses i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.courses a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.films {
    margin-top: 20px;
}

.films i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.films a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.line {
    height: 1px;
    width: 200px;
    background-color: white;
    margin-top: 10px;
    opacity: o.5;
}

.setting {
    margin-top: 20px;
}

.setting i {
    color: white;
    size: 25px;
    margin-left: 20px;

}

.setting a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.feedback {
    margin-top: 20px;
}

.feedback i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.feedback a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.help {
    margin-top: 20px;
}

.help i {
    color: white;
    size: 25px;
    margin-left: 20px;
}

.help a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.line-1{
    margin-left: 200px;
    
}

.line-1 button{
    align-items: baseline;
    margin-left: 20px;
    
}
.line-2{
    height: 350px;
    width: 1050px;
    background-color: rgb(205, 70, 70);
    display: flex;
    margin-left: 200px;
    
}